head {}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
header {
    text-align: center;
    margin: 0;
    background: #7f56f5;
    padding-top: 100px;
    padding-bottom: 100px;
}
header h1 {
    margin: 0;
    color: white;
    font-size: 32px;
}
header p {
    margin: 0;
    color: white;
    margin-top: 27px;
    line-height: 27px;
    font-size: 18px;
}

div {}
.container {
    width: 799px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 24px;
    padding: 20px;
}
.content {
    width: 50%;
    float: left;
    padding: 30px 44px;
    box-sizing: border-box;
}
h1 {
    margin: 0;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
p {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
}

.content_img {
    width: 50%;
    float: left;
    padding: 31px 19px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.content img {padding: 4px;margin-bottom: 14px;}

.button {
    background: #7f56f5;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 25px;
}